body {
  background-color: rgb(116, 56, 176);
  display: flex;
}
html {
  font-size: 20px;
  line-height: 1.6;
}
.container {
  text-align: center;

  margin-right: auto;
  margin-left: auto;
}

.out {
  display: flex;
  width: 800px;
  flex-wrap: wrap;
}

button {
  margin-left: auto;
  margin-right: auto;
}

form {
  font-family: inherit;
  font-size: inherit;
}

img {
  width: 200px;
  height: 200px;
}
